.header{
    display: flex;
    max-width: 1440px;
    background-color: #333331;
    justify-content: space-between;
    align-items: center;
    padding:10px  65px ;
}
.left{
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;

}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
    opacity: 70%;
}
